<ion-content class="signup">
  <ion-title class="title">
    <h2 class="welcom-sign">Create an Account</h2>
    <p>and join the <span>&#60; DevIN /	&#62;</span> community!</p>
  </ion-title>
  <ion-card class="glassy sign-card">
     
      <ion-card-content>
      <form [formGroup]="credentials" (ngSubmit)="register()">
        <ion-list no-lines class="ion-margin-bottom">
        <ion-item fill="outline" class="ion-margin-bottom">
          <ion-input
            placeholder="name"
            type="text"
            formControlName="name"
          ></ion-input>
          <ion-note
            slot="error"
            *ngIf="(name?.dirty || name?.touched) && name?.errors"
            >Name is too short!</ion-note
          >
        </ion-item>
        <ion-item fill="outline" class="ion-margin-bottom">
          <ion-input
            placeholder="Email"
            type="email"
            formControlName="email"
          ></ion-input>
          <ion-note
            slot="error"
            *ngIf="(email?.dirty || email?.touched) && email?.errors"
            >Email is not correct!</ion-note
          >
        </ion-item>
        <ion-item fill="outline" class="ion-margin-bottom">
          <ion-input
            placeholder="Password"
            type="password"
            formControlName="password"
          ></ion-input>
          <ion-note
            slot="error"
            *ngIf="(password?.dirty || password?.touched) && password?.errors"
            >password too short!</ion-note
          >
        </ion-item>

        <ion-button expand="full" type="submit" [disabled]="!credentials.valid">Register</ion-button>
      </ion-list></form>
      <br/>
<a [routerLink]="['/login']">Already have an account?</a>
    </ion-card-content>
  </ion-card>
</ion-content>
