ion-card{
    background: url(../../../assets/images/imgfisrtpage2.jpg) 0 0/100% 100% no-repeat;
    height: 40%;
    border-radius: 14px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }
  ion-content{
    --background: linear-gradient(to top, #dfe9f3 10%, white 50%);
    --backdrop-filter: blur(7.2px);
    --text-align:center;

}
  .glassy{
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.2px);
-webkit-backdrop-filter: blur(7.2px);
border: 1px solid rgba(255, 255, 255, 0.35);
  }
  .text-welcome{
    padding-top: 10%;
    font-size: 17px;
    color: rgb(39, 39, 39);
    font-weight: 700;
  }
  .text-welcome>span {
    font-size: 20px;
    font-weight: bolder;
    color:rgb(196, 4, 68);
  }
  .btns{
margin :10% 27%  ;
display: flex;}
ion-button{
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
margin-right: 12px;
}