<!-- <ion-header>
  <ion-toolbar>
    <ion-title>devIN</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<ion-card>

</ion-card>
    <ion-card-header class="ion-text-center">
        <ion-card-subtitle class="text-welcome">
          Welcome to <span>devIN</span> the place where you can share your tidengs
        </ion-card-subtitle>
    </ion-card-header>    
    <div class="btns">
<ion-button  aria-label="Primary input" color="primary"  type="submit" [routerLink]="['/login']" >Login</ion-button>
<ion-button  aria-label="Light input" color="light"    type="submit" [routerLink]="['/sign-up']">sign-up</ion-button>
</div>
</ion-content>
