<!-- <ion-header>
  <ion-toolbar>
    <ion-title>devIN</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <main>
<ion-card>

</ion-card>
    <ion-card-header class="ion-text-center">
        <ion-card-subtitle class="text-welcome">
          Discover your freedom space in  <span>devIN</span> room
        </ion-card-subtitle>
        <p>Explore the place where you can share freely your teedings with developers</p>
    </ion-card-header>    
    <div class="btns">
<ion-button  class="btn1"  type="submit" [routerLink]="['/login']" >Login</ion-button>
<ion-button  class="btn2"    type="submit" [routerLink]="['/sign-up']">sign-up</ion-button>
</div>
</main>
</ion-content>
