<ion-content fullscreen >
  
    <div class="head">
     
    <div class="back-cercle" routerLink="../home"><i class="fa-solid fa-angles-left" style="color: #000;"></i></div>
    <h2 class="title">Create Your Article 📝</h2>  
  </div>

      <form class="add-article" [formGroup]="articleData" (ngSubmit)="createArticle()">
        <ion-list no-lines class="ion-margin-bottom">
        <div *ngIf="!image" class="choose-photo" >
        
          <span>
            
          <img class='img-icon' src="../../../../assets/icon/icon.png"/>
          <p (click)="upload()">Upload a photo</p>
          </span>
        </div>
        <div *ngIf="image" class="choosen">
          <img [src]="image"/>
          <p (click)="upload()">Change the photo</p>

        </div>
       <div class="form-inputs">
        <ion-item fill="" class="ion-margin-bottom">
          <ion-input
            placeholder="Title"
            type="title"
            formControlName="title"
          ></ion-input>
          <ion-note
            slot="error"
           
            ></ion-note
          >
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-select aria-label="category" interface="popover" placeholder="Select category"  formControlName="category">
              <ion-select-option value="IT">IT</ion-select-option>
              <ion-select-option value="job&intern">Job & Internship</ion-select-option>
              <ion-select-option value="q&a">Interview Q&A</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-item fill="" class="ion-margin-bottom">
          <ion-textarea
            placeholder="Write the content"
            type="content"
            formControlName="content"
          ></ion-textarea>
          <ion-note
            slot="error"
           
            ></ion-note
          >
        </ion-item>
        <ion-button expand="full" type="submit" >Publish</ion-button>
       </div>
      </ion-list></form>
      <br/>
</ion-content>

