<ion-header>
  <ion-toolbar>
    <ion-title>Comments</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let comment of allcomment">
      <div class="input-wrap">
      <div class="input-wrap2">
      <img class="author-image" *ngIf="comment.author?.imageUrl" src="{{comment.author?.imageUrl}}" />
      <img class="author-image" *ngIf="!comment.author?.imageUrl" src="../../../../assets/images/avatar.jpg!bg" />
      <div class="input-wrap3">
        <span>{{comment.author.name}}</span>
      <span>{{ comment.data?.comment }}</span> 
    </div> 
    </div> 
     <div>        
      <span>{{comment.data.date| now}}</span>
     </div>
     </div>
    </ion-item>
  </ion-list>

</ion-content>
<div class="formbtn">
  <ion-item >
    <ion-label position="floating">Add a comment</ion-label>
    <ion-input [(ngModel)]="newCommentText"></ion-input>
  </ion-item>
  
  <ion-button expand="block" (click)="addComment(newCommentText)">Add Comment</ion-button>
</div>