<ion-content class="home" >
<div class="spinner" *ngIf="isLoading">
  <ion-spinner name="dots"></ion-spinner>
</div>
<ion-content class="home" *ngIf="!isLoading">
     <div class="home-header">

      <ion-searchbar [(ngModel)]="searchTerm" color="light" class="search-bar" ></ion-searchbar>
      <ion-list>
        <ion-item>
          <ion-select  [(ngModel)]="selectedCategory" aria-label="category" interface="popover" placeholder="ALL" >
            <ion-select-option value="ALL" selected>ALL</ion-select-option>
            <ion-select-option value="IT">IT</ion-select-option>
            <ion-select-option value="job&intern">Job & Internship</ion-select-option>
            <ion-select-option value="q&a">Interview Q&A</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
       <img class="profil" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1osY7x6Dr4JdxETV2aanhoJt0lt0yxe-6kg&usqp=CAU" routerLink="../profile"/>
      </div>
      <div class="home-content">
        <!-- ========================================= trending articles ============================= -->
      <h3 class="ar-title">Trendings 🔥</h3>
      <div class="scroll-article" >
                <div class="tr"  *ngFor="let trend of trendy" style="background-image: url('{{trend.data.photo}}');" (click)="goToArticleDetails(trend.data.uid)">
                  <a >{{trend.data.title}}</a>
                  <div class="tr-author">
                    <img src='{{trend.author.imageUrl}}'/>
                    <p>{{trend.author.name}}</p>
                  </div>
                </div>
      </div>
      <!-- =========================================== articles categories =================================== -->
      <div class="categories">
        <ul>
          <li (click)="choseAll()">All</li>
          <li (click)="choseLike()">Liked</li>
          <li (click)="choseSave()">Saved</li>
          <li (click)="choseMine()">My articles</li>
       
        </ul>
      </div>
      <div class="no-result" *ngIf="filteredArticles.length==0">No results found</div>
      <div class="articles" >
        <div *ngFor="let article of filteredArticles">
          <div class="article" (click)="goToArticleDetails(article.data.uid)">
            <img src="{{article.data.photo}}"/>
            <div class="article-data">
             <a >{{article.data.title}}</a>
              <div class="article-author">
                <img src="{{article.author.imageUrl}}">
                <p>{{article.author.name}}</p>
                <p><span class="date"> 🕑 </span>{{article.data.date| now}}</p>
              </div>
            </div>
            <button *ngIf="chooseMine">edit</button>
          </div>
        </div>
      </div>
      </div>
      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button>
          <ion-icon name="chevron-up-circle"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button  routerLink="../create-article">
          📝
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
</ion-content>
