<ion-content class="home" >
     <div class="home-header">
      <ion-searchbar value="" color="light" class="search-bar"></ion-searchbar>
       <img class="profil" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1osY7x6Dr4JdxETV2aanhoJt0lt0yxe-6kg&usqp=CAU"/>
      </div>
      <div class="home-content">
        <!-- ========================================= trending articles ============================= -->
      <h3 class="ar-title">Trendings 🔥</h3>
      <div class="scroll-article">
                <div class="tr"  *ngFor="let trend of trendy" style="background-image: url('{{trend.img}}');">
                  <!-- <img src="{{trend.img}}"/> -->
                  <a routerLink="../article-details">{{trend.title}}</a>
                  <div class="tr-author">
                    <img src="{{trend.img}}"/>
                    <p>author</p>
                  </div>
                </div>
      </div>
      <!-- =========================================== articles categories =================================== -->
      <div class="categories">
        <ul>
          <li>IT</li>
          <li>Soft Skills</li>
          <li>Internship</li>
          <li>Job</li>
          <li>Interview Q&A</li>
        </ul>
      </div>
      <div class="articles">
        <div *ngFor="let article of articles">
          <div class="article">
            <img src="{{article.img}}"/>
            <div class="article-data">
             <a routerLink="../article-details">{{article.title}}</a>
              <div class="article-author">
                <img src="{{article.img}}">
                <p>author</p>
                <p><span> 🕑</span> 15 hour</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
</ion-content>
