<ion-content>
  <div class="article-details" *ngIf="articleDet" >
    <div class="image-wrapper">
      <img class="glassy-effect" src="{{articleDet?.photo}}" />
      <div class="back-save">
        <div class="back-cercle" routerLink="../../home"><i class="fa-solid fa-arrow-left"></i></div>
        <div class="save"><i class="fa-regular fa-bookmark"></i></div>
        
      </div>
      <div class="author-details">
        <img class="author-image" src="{{profileDet?.imageUrl}}" />
        <div class="author-name">@{{profileDet?.name}}</div>
        <div class="article-time" ><i class="fas fa-clock"></i> {{articleDet?.date| now}}</div>
      </div>
      
      <h1 class="article-title">{{ articleDet?.title }}</h1>
    </div>
    <div class="description-wrapper">
      <div class="description">
        {{articleDet?.content}}
      </div>
      <div class="likes-comments">
        <div class="likes"><i class="fa-solid fa-heart" style="color: #ca0202;"></i><br>120</div>
        <div class="comments" (click)="showComments()"><i class="fa-solid fa-comment" style="color: #000000;"></i><br> 10</div>
      </div>
    </div>
  </div>
</ion-content>
