<div class="spinner" *ngIf="isLoading">
  <ion-spinner name="dots"></ion-spinner>
</div>
<ion-content  *ngIf="!isLoading">
 
  <div class="article-details" >
    <div class="image-wrapper">
      <div class="overlay">
      <img class="glassy-effect" src="{{articleDet?.photo}}" />
      <div class="back-save">
        <div class="back-cercle" routerLink="../../home"><i class="fa-solid fa-arrow-left"></i></div>
        <div class="save" (click)="SaveArticle()"><i class="{{iconSave}}"></i></div>
        
      </div>
      <div class="author-details">
        <img class="author-image" *ngIf="profileDet?.imageUrl" src="{{profileDet?.imageUrl}}" />
        <img class="author-image" *ngIf="!profileDet?.imageUrl" src="../../../../assets/images/avatar.jpg!bg" />
        <div class="author-name">@{{profileDet?.name}}</div>
        <div class="article-time" ><i class="fas fa-clock"></i> {{articleDet?.date| now}}</div>
      </div>
      
      <h1 class="article-title">{{ articleDet?.title }}</h1>
    </div>
    </div>
    <div class="description-wrapper">
      <div class="description">
        {{articleDet?.content}}
      </div>
      <div class="likes-comments">
        <div class="likes" id='likes' (click)="LikeArticle()"><i class="fa-solid fa-heart" id ='iconlikes' style="color: #ca0202;"></i><br>{{nblikes}}</div>
        <div class="comments" (click)="showComments()"><i class="fa-solid fa-comment" style="color: #000000;"></i><br> 10</div>
      </div>
    </div>
  </div>
</ion-content>
